:root {
  --main-color: #2196f3;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.game {
  background-color: #eee;
  min-height: 100vh;
}
.container {
  margin: auto;
  max-width: 900px;
}
.name {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.message {
  background-color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  text-align: center;
}
.message span {
  font-weight: bold;
  color: #009688;
}
.message span::before {
  content: "[ ";
}
.message span::after {
  content: " ]";
}

.cat-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.cat-div .category {
  background-color: white;
  color: #009688;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  margin: 15px 0;
}
.cat-div select {
  background-color: #009688;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  margin: 15px 0;
  outline: none;
}
option {
  background-color: white;
  color: #009688;
  font-size: 20px;
  border: none;
  border-radius: 6px;
}

.start {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #009688;
  color: white;
  padding: 20px;
  cursor: pointer;
}
.the-word {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: var(--main-color);
  user-select: none;
}
.input {
  margin: 15px 0;
  width: 100%;
  display: block;
  padding: 15px;
  border: 3px solid var(--main-color);
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 6px;
  caret-color: var(--main-color);
}
.input:focus {
  outline: none;
}
.upcoming-words {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.upcoming-words div {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
}
.control {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
}
.control span {
  font-weight: bold;
  color: #009688;
}
.good {
  color: var(--main-color);
}
.bad {
  color: red;
}

.state-message {
  display: none;
  position: absolute;
  background-color: #777777b6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 15px;
  margin: 0;
  border-radius: 6px;
  text-align: center;
  z-index: 100;
}
.state-message .btns {
  background-color: white;

  width: 250px;
  height: 250px;
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
  margin: 15px auto;
  padding: 10px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
}
.btns span {
  font-weight: bold;
  font-size: 30px;
  display: block;
  width: 100%;
}

.state-message .btns button {
  background-color: white;
  color: var(--main-color);

  height: 50px;
  padding: 10px;
  margin: 10px;
  border: solid 2px var(--main-color);
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.state-message .btns button:hover {
  background-color: var(--main-color);
  color: white;
}
.state-score {
  color: #009688;
}
